h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --hover-color: #2196f3;
}

a.contact-links-footer[href="tel:+48111111111"] {
  margin-bottom: 60px;
}

a.contact-links-footer[href="mailto:info@example.com"] {
  margin-bottom: 9px;
}

.activity {
  flex-direction: column;
}

.background-dark {
  background: #2f303a;
}

.card-staff {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.city-street {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 9px;
}

.contact-links-footer {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-links-header {
  width: 295px;
  display: flex;
  justify-content: space-between;
}

.contact-links-header:focus {
  color: var(--hover-color);
}

.contact-links-header:hover {
  color: var(--hover-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0 15px;
}

.container.section.activity > ul {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding-inline-start: 0;
}

div.container.section.activity ul {
  flex-wrap: wrap;
}

.filter {
  margin: 94px 0 34px 0;
  justify-content: center;
}

.filter-button {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
}

.filter-button:active {
  background: var(--hover-color);
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter-button:focus {
  background: var(--hover-color);
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter-button:hover {
  background: var(--hover-color);
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px;
}

.head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  flex-wrap: wrap;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 200px;
}

.john-doe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.john-doe-job {
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
}

.link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  text-decoration: none;
}

.list {
  list-style-type: none;
  display: flex;
}

.list.navigation li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #212121;
  text-decoration: none;
}

.list li a:hover {
  color: var(--hover-color);
}

.list li a:focus {
  color: var(--hover-color);
}

.logo-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 492px;
  flex-wrap: wrap;
}

.lorem-list {
  justify-content: space-between;
}

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  margin: 200px 0 30px 0;
  text-align: center;
  max-width: 696px;
  letter-spacing: 0.06em;
}

.navigation {
  margin: 32px 0;
  width: 254px;
  justify-content: space-between;
}

.projects-descriptions {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.projects-headings {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.secondary-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
}

.section {
  padding: 94px 15px;
  max-width: 1200px;
  align-items: normal;
}

.tertiary-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 10px;
}

.top-padding-none {
  padding-top: 0;
}

ul.list.lorem-list li p {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
  column-gap: 30px;
}

.webstudio-foot {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin: 60px 0 20px 0;
}

.webstudio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin: 24px 93px 25px 0;
}
